@model Web.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sport Store: Your Cart";
}

<h2>Your cart</h2>

<table class="table">
    <thead>
    <tr>
        <td>Quantity</td>
        <td>Item</td>
        <td class="text-right">Price</td>
        <td class="text-right">Subtotal</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td class="text-left">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right">@line.Product.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("Id", line.Product.Id)
                    <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.Cart.ComputeTotalValue().ToString("c")
        </td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn badge-primary" href="@Url.RouteUrl("Home")">Continue shopping</a>
    
    @if (Model.Cart.Lines.Any())
    {
        @Html.ActionLink("Checkout now", "Checkout", null, 
            null, new { @class = "btn btn-primary"})
    }
</div>