@model Domains.Entities.Product

<div class="row border-bottom mb-2">
    <div class="col-10">
            <h4>
                <strong>@Model.Name</strong>
            </h4>
        <p>
            @if (Model?.Image != null)
            {
                <img style="float: left; max-width: 200px;" class="mr-2" src="@Model.Image" alt="@Model.Name">
            }
            @Model.Description
        </p>
    </div>
    <div class="col-2 d-flex flex-column align-items-start ">
        <span class="alert-primary box-shadow mb-1 p-1">@Model.Price.ToString("c") </span>

        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post,
            new {@class = "form"}))
        {
            @Html.HiddenFor(x => x.Id)
            <input type="submit" class="btn btn-success" value="Add to cart"/>
        }
    </div>
</div>